:root{
  --eggwhite: #fcdab7 ;
  --light-blue: #1e5f74;
  --medium-blue: #133b5c;
  --dark-blue: #1d2d50;

  --medium-gray: #CCC;
  --medium-gray: #AAA;
  --light-blue: rgba(106,221,255, 0.47);

  --translucid-green: rgba(94, 196, 2, 0.36);
}

body{
  background-color: var(--medium-blue);
  color: var(--eggwhite);
}

footer,
.top{
  background-color: var(--dark-blue);
}

button {
  background-color: var(--pale-red);
  color: var(--eggwhite);
}

svg {
  fill: var(--eggwhite);
}

.top-bar,
.disc-card {
  background-color:  var(--translucid-green);
}

.badge {
  background-color: var(--light-blue);
}

.enviado {
  background-color: var(--pale-green);
}

.atrasado {
  background-color: var(--pale-red);
}

footer h2 {
  color: var(--eggwhite);
}

/* tema noturno para a pag dummy */
.dummy {
  background: url("../media/solarized-back-blue.svg") no-repeat;
}
