/* Estilos referentes à página principal (painel de cursos) */
.corpo {
  min-height: 72vh;
  display: flex;
  flex-flow: row;
  margin: 0px 10px 15px 20px;
  padding: 10px 0px 0px 0px;
  overflow: auto;
}

/* Barra no topo de cada área do painel */
.top-bar {
  background-color: var(--medium-green);
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar > h2 {
  padding: 0px;
  margin: 15px 0px;
}

.top-bar > button {
  height: 35px;
}


/* Area principal.
 * #painel é onde serão exibidas cars com as disciplinas */
#main {
  width: 70%;
  padding: 15px;
  margin-right: 20px;
}

#painel {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr) [col-end];
  column-gap: 3%;
  row-gap: 3%;
}

.disc-card {
  background-color: var(--pale-green);
  height: 14rem;
  padding: 1% 5%;
  border-radius: 20px;
}

.disc-card > div {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 4% 0% 2% 0%;
}

.disc-card h3 {
  margin: 0px 0px 0px 4%;
  align-self: center;
}

.disc-card > h4 {
  font-weight: 500;
  padding: 5px 0px;
  margin: 5px 0px;
}

.disc-card > p {
  display: flex;
  flex-flow: row wrap;
  color: var(--medium-gray);
}

.disc-card span {
  margin: 2% 3% 0% 0%;
  flex: 3 0 2
}

/* A barra lateral: aqui (no elemento #tarefas, que dispensa
 * estilização) serão montados badges com as informações de cada
 * tarefa */
.sidebar {
  padding: 15px;
  width: 30%;
}

.badge {
  background-color: var(--light-blue);
  height: 25%;
  padding: 3% 0%;
  margin: 1% 0%;
  display: flex;
  flex-direction: row;
}

.badge .icon {
  margin: 1% 3%;
}

.badge:last-child {
  border-radius: 0px 0px 15px 15px;
}

.badge h4 {
  margin: 0px;
  padding: 0px;
}

.badge p {
  margin: 0px;
  padding: 0px;
  color: var(---medium-gray);
}

.enviado {
  background-color: var(--pale-green);
}

.atrasado {
  background-color: var(--pale-red);
}
